.sidebar__title {
  position: relative;
  height: 20%;
  padding: 20px 18px;
  text-align: left;
  font-size: 24px;
  font-weight: 900;
  color: $white;
  background-color: $green;
  z-index: 7;

  &:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-14deg);
    transform-origin: 100%;
    z-index: -1;
  }

  @media screen and (max-width: $xsmall) {
    height: auto;

    &:after {
      transition: 0.2s ease-out;
      transition-delay: 0.2s;
      transform: skewY(-0deg);
      height: 190px;
      top: -18px;
    }
  }

  @media screen and (max-width: $xsmall) and (max-height: $horizontalSmall) {
    height: auto;
    padding: 10px 8px;
    font-size: 20px;

    &:after {
      transition: 0.2s ease-out;
      transition-delay: 0.2s;
      transform: skewY(-0deg);
      height: 63px;
      top: 0px;
    }
  }

  @media screen and (min-width: 1600px) {
    &:after {
      transform: skewY(-14deg);
      height: 200px;
    }
  }
}

.angledown {
  &:after {
    transform: skewY(-8deg);
    transition-delay: 0s;
  }

  @media screen and (max-width: $xsmall) and (max-height: $horizontalSmall) {
    &:after {
      transform: skewY(-4deg);
      transition-delay: 0s;
    }
  }
}

.sidebar__header {
  width: 100px;

  @media screen and (max-width: $xsmall) and (max-height: $horizontalSmall) {
    width: auto;
  }
}

.sidebar__dropdown {
  position: absolute;
  top: 25px;
  right: 18px;
  display: none;
  font-size: 50px;
  z-index: 10;

  @media screen and (max-width: $xsmall) {
    display: block;
  }

  @media screen and (max-width: $xsmall) and (max-height: $horizontalSmall) {
    top: 4px;
    right: 8px;
    font-size: 35px;
  }
}
