//breakpoints:
$micro: 380px;
$xsmall: 740px;
$small: 960px;
$medium: 1024px;
$large: 1400px;

$horizontalLarge: 900px;
$horizontalMedium: 740px;
$horizontalSmall: 460px;

//colors:
$red: rgb(31,0,0);
$green: rgb(0,84,78);
$blue: rgb(0,139,255);
$transparant-blue: rgb(0,139,255);
$bluegreen: rgba(31,90,84,0.8);
$white: rgb(255,255,255,);
$transparant-white: rgba(255,255,255,0.6);
$black: rgba(0,0,0);
$gray: rgba(146,147,158,0.5);
$lite-gray: rgba(146,147,158,0.3);
